

     {{> partial}}

     {{#each this}}
     {{#each jobs}}


  <tr>
    <td style="padding:10px;">{{this.id}}</td>
    <td style="padding:10px;">{{this.company_name}}</td>
    <td style="padding:10px;">{{this.position_name}}</td>
    <td style="padding:10px;"><a href="{{this.company_url}}" target="_blank">{{this.company_url}}</a></td>
    <td style="padding:10px;"><a href="{{this.application_url}}" target="_blank">{{this.application_url}}</td>
    <td style="padding:10px;">{{this.requirements}}</td>
    <td style="padding:10px;">{{this.salary}}</td>
    <td style="padding:10px;">{{this.notes}}</td>
    <td style="padding:10px;">{{this.applied}}</td>
    <td style="padding:10px;">{{this.contact}}</td>
    <!--  code for better visual representation -->
    <!-- <td><button type="button" class="btn btn-success update-job" data-job-id="{{id}}" data-toggle="modal" data-target="#update-job-modal">Update</button></td> -->
    <!-- <td><button type="button" class="btn btn-warning delete-job" data-job-id="{{id}}" data-toggle="modal" data-target="#delete-job-modal">Delete</button></td> -->

  </tr>

  {{/each}}
{{/each}}
